.titre {
  color: green;
}
.game-over .titre {
  color: white;
}
.panneau {
  width: 100%;
  height: 80%;
}
.cache-pour-une-seconde {
  display: none;
}
.jeu {
  width: 100%;
  height: 100%;
  background: grey;
  position: relative;
}
.ecran-de-bienvenue {
  background: yellow;
}
.prochain-niveau {
  background: red;
}

.game-over {
  background: green;
}
.modele {
  display: none;
}
.point,
.collectible,
.obstacle {
  height: 10px;
  position: absolute;
  width: 10px;
}
.point {
  background: green;
}
.collectible {
  background: blue;
}
.infos {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
.instructions {
  top: 0;
  font-size: 20px;
}
.obstacle {
  background: blue;
  opacity: 0.5;
}
