.titre {
  color: green;
}
.game-over .titre {
  color: white;
}
.panneau {
  width: 100%;
  height: 80%;
}
.jeu {
  width: 100%;
  height: 100%;
  background: #222;
  position: relative;
}
.ecran-de-bienvenue {
  background: yellow;
}
.prochain-niveau {
  background: red;
}

.game-over {
  background: green;
}
.modele {
  display: none;
}
.point {
  height: 10px;
  position: absolute;
  width: 10px;
  background: green;
}
.infos {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
